<div class="col-xl-4 col-lg-4 col-md-6 col-10" style="margin: auto; background-color: #F7F7F7; border-radius: 6px;">
  <%= form_with(model: post) do |form| %>

    <h1>Post</h1>

    <div>
      <% invalid = post.errors.include?(:title) %>
      <%= form.label :title, style: "display: block", class: "form-label pt-2" %>
      <%= form.text_field :title, class: "form-control" %>
      <% if invalid %>
        <p class="alert alert-danger mt-2">
          <i class="bi bi-exclamation-triangle-fill"></i>
          <%= post.errors.full_messages_for(:title).join(",") %>
        </p>
      <% end %>
    </div>

    <div>
      <% invalid = post.errors.include?(:description) %>
      <%= form.label :description, style: "display: block", class: "form-label pt-2" %>
      <%= form.text_field :description, class: "form-control" %>
      <% if invalid %>
        <p class="alert alert-danger mt-2">
          <i class="bi bi-exclamation-triangle-fill"></i>
          <%= post.errors.full_messages_for(:description).join(",") %>
        </p>
      <% end %>
    </div>

    <div>
      <% invalid = post.errors.include?(:keywords) %>
      <%= form.label :keywords, style: "display: block", class: "form-label pt-2" %>
      <%= form.text_field :keywords, class: "form-control" %>
      <% if invalid %>
        <p class="alert alert-danger mt-2">
          <i class="bi bi-exclamation-triangle-fill"></i>
          <%= post.errors.full_messages_for(:keywords).join(",") %>
        </p>
      <% end %>
    </div>

    <div>
      <%= form.file_field :images, multiple: true %>
    </div>

    <div>
      <%= form.submit class: "btn btn-primary col-12 mt-4" %>
    </div>
  <% end %>
</div>
